body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Inter, system-ui;
    color: var(--text-color);
}


#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
        margin: 25px;
        width: 400px;
        margin-top: -200px;
    }

    #center-container {
        place-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin-top: 50px;

        #play-container {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }
}
