@font-face {
    font-family: "Rubik Mono One";
    font-display: swap;
    src: url("../../fonts/RubikMonoOne-Regular.ttf") format("truetype");
}


@import "./home.scss";
@import "./game.scss";

* {
    font-family: "Rubik Mono One";
    font-size: 1rem;
}
